---
import MainLayout from '../layouts/MainLayout.astro';
import Option from '../components/index/Option.astro';
import Separator from '../components/Separator.astro';
import InputArea from '../components/index/InputArea.astro';
import TitleInputArea from '../components/index/TitleInputArea.astro';
import SubmitButton from '../components/index/SubmitButton.astro';
---

<MainLayout>
	<main x-data={`{title: "", choices: [], input: ""}`} 
			@remove="choices.splice(choices.indexOf($event.detail.choice), 1)"
			@add="$data.input.length>0&&choices.push($data.input); input=''">
		<h1> Barley Poll </h1>
		<div id="result"></div>
		<div id="poll">
			<TitleInputArea />
			<ul>
				<h2> Choices </h2>
				<template x-for="choice in choices">
					<Option />
					<Separator />
				</template>
				<InputArea />
			</ul>
			<SubmitButton />
		</div>
	</main>
</MainLayout>


<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
	h2 {
		margin: 8px 0px 0px 0px;
	}
	ul {
		border: 1px solid #313338;
		border-radius: 16px;
		padding: 0px 40px 8px 40px;
		margin: 32px 0px 16px 0px;
	}
	#poll {
		width: 450px;
		margin: 100px auto 0px auto;
		padding: 10px 30px 10px 30px;

		text-align: center;

		list-style-type: none;
	}
	#result {
		text-align: center;
	}
</style>
